page-m-list-bank-users {
     .scroll-content{
          margin-bottom: 0px;
     }

     .button-md{
          position: absolute;
          right: 10px;
          top: 6px;
     }
     .button-ios{
          position: absolute;
          right: 10px;
          top: 6px;
     }
     .button-wp{
          position: absolute;
          right: 10px;
          top: 6px;
     }

     
}
