page-tambah-bank {
     .img-bank{
          object-fit: cover;
          height: 35px;
     }
     
   .button-md{
        position: absolute;
        right: 10px;
        top: 6px;
   }
   .button-ios{
        position: absolute;
        right: 10px;
        top: 6px;
   }
   .button-wp{
        position: absolute;
        right: 10px;
        top: 6px;
   }
}
