page-detail-transaksi {
     .scroll-content{
          margin-bottom: 0px;
     }
     .item-md ion-avatar img{
          border-radius: 15%;
          overflow: hidden;
          width: 51px;
          height: 52px;
     }
}
