page-transaksi-selesai {
     .scroll-content{
          margin-bottom: 0px;
     }
     .box{
          padding: 16px;
          border: 2px solid #5cec21;
          border-radius: 10px;
          font-weight: 500;
          margin-bottom: 22px;
     }
     .nilai {
          font-size: 28px;
          font-weight: 300;
          color: #46cc10; 
     }
     .list{
          padding: 10px;
          border-bottom: 2px solid #ececec;
          
     }
     .waktu{
          font-size: 15px;
          font-weight: bold;
          color: #ca2424;
          padding-bottom: 6px;
     }
     .info{
          font-size: 14px;
     }
}
